* {
  margin: 0;
  padding: 0;
}

// ############################# HEADER #############################
.overlay {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  .search {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    @media only screen and (max-width: 800px) {
      height: 100%;
      width: 100%;
    }
    h1, h2, p {
      color: white;
      text-align: center;
      text-shadow: 0px 0px 3px black;
    }
  }
}

input:focus {
  outline: none;
}

.render {
  margin-top: 20px;
  h1 {
    color: white;
    text-shadow: 0px 0px 3px black;
  }
}

.data {
  display: flex;
  justify-content: space-evenly;
  margin: 80px 0;
  @media only screen and (max-width: 800px) {
    flex-direction: column;
    .data-box {
      margin-top: 20px;
    }
  }
}

.rendered-chart {
  flex-basis: 50%;
}

.data-box {
  max-height: 50vh;
  overflow-y: scroll;
}

.rendered-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  p {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 3px black;
  }
}
